version: '3.8'
services:
  web:
    build: .
    image: techwin:latest
    ports:
      - "3000:3000"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700M
    environment:
      NODE_ENV: production
